<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="../js/vue.js"></script>
    </head>
    <body>
        <div id="root">
            <p>
                姓:
                <input type="text" v-model="surname" />
            </p>
            <p>
                名:
                <input type="text" v-model="name" />
            </p>
            全名:
            <span>{{fullName}}</span>
        </div>
    </body>

    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el: '#root',
            data: {
                surname: '张',
                name: '三',
            },
            // 计算属性
            computed: {
                // 完整写法
                /*
                    fullName: {
                    get() {
                        console.log('get被调用了');
                        // console.log(this); // 计算属性中get的this指向vm
                        return this.surname + '-' + this.name;
                    },
                    // get什么时候被调用? 当fullName被改变时
                    set(value) {
                        const arr = value.split('-');
                        this.surname = arr[0];
                        this.name = arr[1];
                    },
                },
                */
                // 简单写法
                fullName() {
                    console.log('get被调用了');
                    // console.log(this); // 计算属性中get的this指向vm
                    return this.surname + '-' + this.name;
                },
            },
        });
    </script>
</html>
